/.devphase
/artifacts/*
/contracts/*/target
/logs
/stacks

/accounts.json
/contracts.json

.env

node_modules

!/artifacts/lego/
!/artifacts/qjs/
!/artifacts/action_evm_transaction/
!/artifacts/action_offchain_rollup/
!/artifacts/brick_profile/
!/artifacts/brick_profile_factory/
