/.devphase
/artifacts/*
/contracts/*/target
/logs
/stacks

/accounts.json
/contracts.json

node_modules

!/artifacts/lego/
!/artifacts/qjs/
!/artifacts/action_evm_transaction/
!/artifacts/simple_cloud_wallet/
