# Below is the sample variables for hardhat local testnet. Copy as .env file and replace the values
# by your setup (e.g. Goerli).

# HTTP EVM rpc
RPC=http://localhost:8545
# PhatQueuedAnchor address on the EVM chain. Without the "0x" prefix.
ANCHOR=e7f1725E7734CE288F8367e1Bb143E90bb3F0512
